<a href="https://colab.research.google.com/github/Marcos-Almanzar/DiseasesofHeart/blob/master/Group_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
missing_values=["."]
dfcsv = df = pd.read_csv('https://raw.githubusercontent.com/Marcos-Almanzar/DiseasesofHeart/master/New_York_City_Leading_Causes_of_Death.csv',na_values = missing_values)
dfheart = df[(df['Leading Cause'] == 'Diseases of Heart (I00-I09, I11, I13, I20-I51)')]
dfheart = dfheart[['Leading Cause', 'Year', 'Sex', 'Deaths']]
dfheart

                                       Leading Cause  Year Sex  Deaths
0     Diseases of Heart (I00-I09, I11, I13, I20-I51)  2007   F  2722.0
14    Diseases of Heart (I00-I09, I11, I13, I20-I51)  2007   F   428.0
34    Diseases of Heart (I00-I09, I11, I13, I20-I51)  2007   F  1418.0
36    Diseases of Heart (I00-I09, I11, I13, I20-I51)  2007   F    43.0
48    Diseases of Heart (I00-I09, I11, I13, I20-I51)  2007   F  7050.0
...                                              ...   ...  ..     ...
1027  Diseases of Heart (I00-I09, I11, I13, I20-I51)  2014   M    63.0
1038  Diseases of Heart (I00-I09, I11, I13, I20-I51)  2014   M   115.0
1065  Diseases of Heart (I00-I09, I11, I13, I20-I51)  2014   M  3990.0
1066  Diseases of Heart (I00-I09, I11, I13, I20-I51)  2014   M  1281.0
1068  Diseases of Heart (I00-I09, I11, I13, I20-I51)  2014   M  1958.0

[96 rows x 4 columns]