<a href="https://colab.research.google.com/github/Marcos-Almanzar/DiseasesofHeart/blob/master/Group_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
missing_values=["."]
dfcsv = df = pd.read_csv('https://raw.githubusercontent.com/Marcos-Almanzar/DiseasesofHeart/master/New_York_City_Leading_Causes_of_Death.csv',na_values = missing_values)
dfheart = df[(df['Leading Cause'] == 'Diseases of Heart (I00-I09, I11, I13, I20-I51)')]
dfheart = dfheart[['Leading Cause', 'Year', 'Sex', 'Deaths']]
dfheartgrp = dfheart.groupby(['Year','Sex'])['Deaths'].sum()
dfheartgrp

Year  Sex
2007  F      11743.0
      M       9698.0
2008  F      11605.0
      M       9587.0
2009  F      10780.0
      M       9304.0
2010  F       9463.0
      M       8464.0
2011  F       9083.0
      M       7817.0
2012  F       8777.0
      M       7954.0
2013  F       8745.0
      M       8014.0
2014  F       8556.0
      M       7961.0
Name: Deaths, dtype: float64